<div class="information">
  <div class="upper-info">
    <div class="information-title">
      <%= information.title %>
    </div>
  </div>
  <div class="lower-info">
    <div class="information-text">
      <%= information.text %>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class="info-command">
    <%= link_to "編集", "#" %>
    <%= link_to "削除", information_path(information.id), method: :delete %>
  </div>
  <% end %>
</div>
