.footer {
  background-color: #3232da;
  height: 100px;
  color: white;
  text-align: center;
}

.office-info {
  padding: 10px;
}

.name {
  font-size: 1em;
}

.footer-access {
  font-size: 0.8em;
}

.copyright {
  font-size: 0.5em;
  color: aliceblue;
  padding: px 0;
}