.footer {
  height: 100px;
  color: white;
  text-align: center;
}

.office-info {
  padding: 10px;
}

.name {
  font-size: 0.9rem;
}

.footer-access {
  font-size: 0.6rem;
}

.copyright {
  font-size: 0.5rem;
  color: aliceblue;
}