header {
  background-color: #f5f9fd;
  height: 150px;
}

.top-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.user-command {
  position: fixed;
  right: 10px;
  top: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.user-command li a {
  text-decoration: none;
  color: firebrick;
  border: solid 1px firebrick;
  padding: 4px;
  font-size: 11px;
  font-weight: bold;
  background-color: rgb(252, 243, 243);
}

.user-command a {
  text-decoration: none;
  font-size: 4px;
  color: white;
}

.office-name {
  color: #010174;
  font-size: 35px;
  text-align: center;
}

.text {
  font-size: 13px;
  color: #333333;
}

.tel {
  font-size: 22px;
  font-weight: bold;
  color: #222222;
}

ul.contents {
  display: table;
  table-layout: fixed;
  list-style: none;
  height: 50px;
  width: 100%;
  font-size: 15px;
  background-color: #3232da;
  margin: 0 auto;
  padding: 0;
}

ul.contents li {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  border: 1px solid white;
}

ul.contents li a{
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  color: white;
}

ul.contents li ul {
  visibility: hidden;
  width: 100%;
  list-style: none;
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
}

ul.contents li:hover ul {
  visibility: visible;
}

ul.contents li ul li {
  background: rgb(175, 174, 177);
  transition: all .2s ease;
  display: block;
  padding: 10px 0;
  color: #222222;
}
ul.contents > li:hover {
  background: rgb(120, 154, 247);
  border-bottom: none;
}
ul.contents li:hover ul li:hover {
  background: rgb(120, 119, 121);
}


