<footer class="footer footer-dark" style="background-color: rgb(23, 45, 247);">
  <div class="office-info">
    <div class="name">
      塩冶敬司法書士事務所
    </div>
    <div class="footer-access">
      〒690-0883  島根県松江市北田町103-5
    </div>
    <div class="footer-access">
      TEL 0852-27-3824
    </div>
  </div>
  <div class="copyright">
    Copyright ©️ 塩冶敬司法書士事務所 All Rights Reserved.
  </div>
    <% if user_signed_in? %>
      <%= link_to "お知らせ投稿", new_information_path, class: "btn btn-danger btn-sm" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm" %>
    <% else %>
      <%= link_to "▶︎", new_user_session_path %>
    <% end %>

</footer>