<footer class="footer">
  <div class="office-info">
    <div class="name">
      塩冶敬司法書士事務所
    </div>
    <div class="footer-access">
      〒690-0883  島根県松江市北田町103-5
    </div>
    <div class="footer-access">
      TEL 0852-27-3824
    </div>
  </div>
  <div class="copyright">
    Copyright ©️ 塩冶敬司法書士事務所 All Rights Reserved.
  </div>
</footer>