<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(23, 45, 247);">
  <div class="container-fluid">
    <h1 class="navbar-brand">
      塩冶敬 司法書士事務所
    </h1>
    <span class="navbar-text">
      <small>お問い合わせ</small><br>
      <strong>TEL 0852-27-3824</strong><br>
      <small>受付時間 9:00 〜 17:30（土日祝日除く）</small><br>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index">トップページ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link", href="introduction">事務所紹介</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="real_estate">不動産登記</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="commerce">商業登記</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="inheritance">相続</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="access">アクセス</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
