.information {
  width: 100%;
  padding: 20px 10%;
}

.information-title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: rgb(63, 245, 252);
}

.information-text {
  padding: 5px 0;
  font-size: 16px;
}

.info-command a {
  text-decoration: none;
  margin-right: 5px;
  padding: 3px 5px;
  background-color: rgb(158, 65, 65);
  color: white;
  font-size: 14px;
  border-radius: 2px;
}