// informationテンプレート

.information {
  width: 100%;
  padding: 20px 10%;
}

.information-title {
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: gray;
}

.information-text {
  padding: 5px 0;
  font-size: 1em;
}

.info-command a {
  text-decoration: none;
  margin-right: 5px;
  padding: 3px 5px;
  background-color: rgb(158, 65, 65);
  color: white;
  font-size: 0.8em;
  border-radius: 2px;
}

// 新規投稿・編集ページ

.information-layout {
  margin: 5%;
}

.inner {
  height: 100vh;
}
.page-heading {
  height: 60px;
  width: 300px;
  text-align: center;
  background-color: rgb(245, 247, 245);
  color: rgb(26, 78, 1);
  border-radius: 5px;
  font-size: 1.5em;
  padding: 12px 0;
  margin-bottom: 30px;
  margin-left: 30px;
}

// formテンプレート

.form-input {
  margin-bottom: 30px;
  
}

.form-title {
  height: 40px;
  width: 500px;
}

.form-text {
  height: 150px;
  width: 500px;
}

.form-submit {
  padding: 5px 15px;
  margin-left: 30px;
  background-color: rgb(165, 27, 3);
  border-radius: 4px;
  color: white;
  border: none;
  font-size: 18px;
}