.intro-frame {
  height: calc( 100vh - 150px);
  overflow: auto;
}

.introductions {
  text-align: center;
  
}

.face-frame {
  text-align: center;
}

.face-image {
  height: 300px;
}

table.intro-table {
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 16px;
}

table.intro-table td {
  border: solid 1px white;
  background-color: rgb(240, 239, 239);
  padding: 20px 40px;
}