.frame {
  height: calc(100vh - 150px);
  overflow: scroll;
}

.view {
  margin: 5px 10%;
}

// トップページ

.top-image {
  height: 300px;
  width: 100vw;
}

h3 {
  height: 80px;
  text-align: center;
  background-color: lightgray;
  padding: 20px 0;
}

.heading {
  font-size: 30px;
  margin: 0 auto;
}

.all-information {
  margin-bottom: 100px;
}

.date {
  color: gray;
}

.duties-form {
  margin: 0 10%;
}

.duty {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}

.title-box {
  height: 100px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.duty-title {
  background-color: rgb(250, 216, 124);
  height: 70px;
  width: 150px;
  padding: 18px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}

.duty-title a {
  text-decoration: none;
  color: black;
}

.duty-title:hover {
  background: rgb(252, 230, 169);
}

.duty-descriptions {
  width: calc( 100% - 150px) ;
  padding-left: 30px;
}

// 事務所紹介ページ

.intro-frame {
  height: calc( 100vh - 150px);
  overflow: auto;
}

.face-frame {
  margin: 0 auto;
  text-align: center;
}

.face-image {
  height: 300px;
  display: inline-block;
}

table.intro-table {
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 16px;
}

table.intro-table td {
  border: solid 1px white;
  background-color: rgb(240, 239, 239);
  padding: 20px 40px;
}

// 業務内容のページ

.duty-heading {
  text-align: center;
  background-color: #f5f4e9;
  height: 80px;
  padding: 15px;
  color: rgb(38, 70, 70);
}

.duty-contents {
  margin: 30px 100px;
  font-size: 1em;
  line-height: 35px;
}

.duty-lists {
  margin: 0 80px;
  line-height: 30px;
}

h2 {
  border-bottom: solid 2px rgb(212, 212, 211);
  padding-left: 50px;
  padding-top: 20px;
}

table.testament-table {
  border-collapse: collapse;
  margin: 20px auto;
}

table.testament-table thead tr th {
  padding: 15px;
  background-color: rgb(252, 233, 240);
  text-align: center;
  font-size: 18px;
}

table.testament-table th, table.testament-table tr, table.testament-table td {
  padding: 15px;
  border: dimgray solid 1px;
  line-height: 30px;
}

// アクセスページ

.map {
  text-align: center;
  margin: 50px auto;
}

.access {
  margin: 0 100px 40px;
  font-size: 1em;
}
