.container {
  height: 100vh;
  overflow: scroll;
}

h2 {
  border-top: solid 3px rgb(171, 174, 177);
  border-bottom: solid 3px rgb(171, 174, 177);
  background-color: rgb(228, 228, 228);
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

// ヘッダー(navbar)

.navbar-brand {
  font-size: 1.8rem;
}

// トップページ

.img-fluid {
  width: 100vw;
}

.all-information {
  margin-bottom: 100px;
}

.row {
  padding: 30px 10px;
}

.col-md {
  background-color: rgb(252, 248, 241);
  margin: 10px;
  padding: 15px;
}

.duty-button {
  text-align: center;
  margin-bottom: 20px;
}
.btn {
  color: #fff;
  width: 150px;
}

.description {
  margin-bottom: 20px;
}

// 事務所紹介ページ

.face-frame {
  margin: 0 auto;
  text-align: center;
}

.face-image {
  height: 300px;
  display: inline-block;
}

.table {
  margin: 20px auto;
}

.table th, .table td {
  padding: 20px 40px;
  font-size: 1rem;
}

// 業務内容のページ

h3 {
  border-bottom: solid 3px darkgreen;
  padding: 20px 0 10px 30px;
  width: 300px;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: darkgreen;
}

table.testament-table thead tr th {
  padding: 10px;
  background-color: rgb(233, 252, 236);
  text-align: center;
  font-size: 1rem;
}

table.testament-table th, table.testament-table tr, table.testament-table td {
  padding: 5px;
}

// アクセスページ

.map {
  text-align: center;
  margin: 50px auto;
}

.access {
  margin: 0 100px 40px;
  font-size: 1em;
}

@media (max-width: 1024px) {

}

@media (max-width: 599px) {
  header {
    height: 115px;
  }
  .top-contents {
    display: block;
  }
  .office-name {
    font-size: 1.7em;
    width: 100%;
    padding: 7px 0;
  }
  .right-head {
    display: flex;
  }
  .contacts {
    font-size: 0.7em;
    padding-left: 8%;
  }
  #hamburger {
    position: relative;
    display: block;
    width: 40px;
    height: 35px;
    margin: auto 8% 0 auto;
    background-color: #3232da;
    border-radius: 3px;
  }
  #hamburger span {
    position: absolute;
    top: 50%;
    left: 15%;
    display: block;
    width: 70%;
    height: 2px;
    background-color: white;
    transform: translateY(-50%);
    border-radius: 1px;
  }
  #hamburger::before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 15%;
    width: 70%;
    height: 2px;
    background-color: white;
    border-radius: 1px;
  }
  #hamburger::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 8px;
    left: 15%;
    width: 70%;
    height: 2px;
    background-color: white;
    border-radius: 1px;
  }
  .pc-nav {
    display: none;
  }
  .img-fluid {
    height: 150px;
  }
}