<div class="container-fluid">
  <%= render "shared/header" %>
  <h1 class="duty-heading">
    商業登記
  </h1>
  <div class="duty-contents">
    商業登記とは、商号（社名）や役員情報、資本金額など会社にとって重要な情報を法務局で登録する手続きのことです。
    この手続きをされていないと、会社として認められない上、会社法や商法などの法律によって罰金が科せられる可能性もあります。
  </div>
  <div class="duty-contents">
    商業登記された情報は法務局によって管理され、申請があれば何時でも登記情報が閲覧できます。
    手数料を支払えば他社の登記事項証明書を入手することができるので、新たな取引先の信頼性を確認することなども可能です。
  </div>
  <div class="duty-contents">
    商業登記は、次のような場面で行う必要があります。
  </div>
  <ul class="duty-lists">
    <li>会社等を設立したとき</li>
    <li>本店・主たる事務所等を移転したとき</li>
    <li>商号・名称を変更したとき</li>
    <li>役員を変更したとき</li>
    <li>会社を解散するとき</li>
  </ul>
  <div class="duty-contents">
    商業登記は事業を営む上で必要不可欠です。複雑な手続きをサポートいたしますのでお気軽にお問い合わせください。
  </div>
  <%= render "shared/footer" %>
</div>