<%= render "shared/header" %>

<div class="frame">
  <h1 class="duty-heading">
    相続について
  </h1>
  <h2>相続登記</h2>
  <div class="duty-contents">
    相続により不動産の名義を変更するためには、相続登記手続きをおこなう必要があります。
    不動産を相続人のうちの誰かが承継するためには、相続人全員で「遺産分割協議」をおこなう必要があります。
    しかし、相続登記をしないまま何十年も放っておくと、相続が次々と発生し、相続人の範囲がどんどん拡がってしまったり、相続人同士で連絡が取れなくなったりと、手続きに膨大な時間と労力と費用を要することになります。
    相続登記はできる限りすみやかにおこないましょう。
  </div>
  <h2>相続放棄</h2>
  <div class="duty-contents">
    また、亡くなられた方に多額の借金があった場合など相続人が相続を受けたくない場合、管轄の家庭裁判所に相続放棄の申述書を提出することもできます。
    相続放棄ができる期間は、自分が相続人になったことを知ってから３ヶ月以内ですが、財産や負債の調査にさらに時間を要する場合など家庭裁判所に期間の延長の申し立てができる場合もあります。
  </div>
  <h2>遺言について</h2>
  <div class="duty-contents">
    遺言は、死亡後の自己の財産についての最終意思を尊重する制度です。また、一度遺言をしても、方式に従えば撤回することも可能です。
    遺言は大きく分けて自筆証書遺言と公正証書遺言があります。
  </div>
  <table class="testament-table">
    <thead>
      <tr>
        <th>種類</th>
        <th>自筆証書遺言</th>
        <th>公正証書遺言</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>メリット</td>
        <td>
          <ul>
            <li>自分だけで作成できるため費用がかからない</li>
            <li>自分の好きなタイミングで作成できる</li>
            <li>秘密を保つことができる</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>公証人が関与しており形式不備がない</li>
            <li>紛失や改ざんの恐れが極めて少ない</li>
            <li>遺言の内容を公証人に伝えれば良いので字が書けなくても作成できる</li>
            <li>亡くなった後に家庭裁判所で検認する必要がない</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>デメリット</td>
        <td>
          <ul>
            <li>書き方を間違えると無効になる</li>
            <li>遺言が紛失したり改ざんされてしまう危険性がある</li>
            <li>亡くなった後に家庭裁判所で検認する必要があるため時間がかかる</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>作成費用と時間がかかる</li>
            <li>公証人のほか、証人2人の立ち合いが必要なため秘密にならない</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="duty-contents">
    当事務所では、以下の相続に関するサポートを行なっていますのでご相談ください。
  <ul>
    <li>遺産分割協議書の作成</li>
    <li>相続放棄の手続き</li>
    <li>公正証書遺言の作成</li>
  </ul>
  </div>
</div>

<%= render "shared/footer" %>
