<%= render "shared/header" %>
  <div class="intro-frame">
    <h1 class="introductions">
      事務所紹介
    </h1>
    <div class="face-frame">
      <%= image_tag "face.png", class: "face-image" %>
    </div>
    <table>
      <tbody>
        <tr>
          <td>事務所名</td>
          <td>塩冶敬司法書士事務所</td>
        </tr>
        <tr>
          <td>代表者名</td>
          <td>
            <div>塩冶 敬</div>
            <div>　</div>
            <div>島根県司法書士会所属</div>
          </td>
        </tr>
        <tr>
          <td>事務所所在地</td>
          <td>
            <div>〒690-0883</div>
            <div>島根県松江市北田町103-5</div>
          </td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td>0852-27-3824</td>
        </tr>
        <tr>
          <td>営業時間</td>
          <td>
            <div>平日 9:00 〜 17:30</div>
            <div>（事前にご連絡いただければ時間外も対応いたします。）</div>
          </td>
        </tr>
        <tr>
          <td>定休日</td>
          <td>
            <div>土日祝日</div>
            <div>（事前にご連絡いただければ土日祝日も対応いたします。）</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<%= render "shared/footer" %>