<%= render "shared/header" %>

<div class="frame">
  <h1 class="duty-heading">
    裁判関連
  </h1>
  <div class="duty-contents">
    簡易裁判所で扱う民事事件のうち、訴訟の目的となる物の価額が140万円未満までのものは、当事務所にて訴訟代理業務を行うことができます。
  </div>
  <div class="duty-contents">
    以下のような場合は、簡裁訴訟代理業務の委任が行えます。
  </div>
  <ul class="duty-lists">
    <li>少額の債権回収、賃金の返還請求</li>
    <li>アパートなど賃貸物件の明渡請求</li>
    <li>敷金に関するトラブル</li>
    <li>簡易裁判所から訴状が届いた（訴えられた）</li>
  </ul>
  <div class="duty-contents">
    また、家庭裁判所における各種手続きについて、申立書などの書面作成も承っております。
  </div>
  <ul class="duty-lists">
    <li>遺産分割の調停申立て</li>
    <li>相続放棄の申述</li>
    <li>離婚の調停申立て</li>
    <li>後見等の開始申立て</li>
  </ul>
</div>

<%= render "shared/footer" %>
