<%= render "shared/header" %>

<div class="frame">
  <h1 class="duty-heading">
    債務整理
  </h1>
  <div class="duty-contents">
    債務整理とは法律を使って借金を整理することです。
    債務整理には主に任意整理、個人再生、自己破産などの方法があります。
  </div>
  <div class="duty-contents">
    当事務所では次のような業務を行なっています。
  </div>
  <ul class="duty-lists">
    <li>過払金請求</li>
    <li>金融会社との話し合いによる債務整理（任意整理）</li>
    <li>裁判所の関与する債務整理（破産、個人再生）</li>
    <li>その他借金に関するお悩み</li>
  </ul>
  <div class="duty-contents">
    依頼者のご要望や債務の状態に合った方法をご提案させていただきます。
  </div>

</div>

<%= render "shared/footer" %>
