<div class="container-fluid">
<%= render "shared/header" %>
  <h1 class="duty-heading">
    不動産登記
  </h1>
  <div class="duty-contents">
    土地や建物、マンション（以下、不動産といいます）を売買・贈与した時など、不動産の所有者の情報を法務局に備えられている登記簿に記載し、公開することです。
    これを行う事で、所有者の権利が守られたり、不必要なトラブルを避けることができます。
  </div>
  <div class="duty-contents">
    不動産登記は、次のような場面で行う必要があります。
  </div>
  <ul class="duty-lists">
    <li>不動産の売買や贈与するとき</li>
    <li>建物を新築したとき</li>
    <li>住宅ローンなど融資を受けたとき</li>
    <li>住宅ローンの支払いが終わったとき</li>
    <li>住所を移転したとき</li>
    <li>婚姻などで氏名が変更したとき</li>
    <li>所有者がお亡くなりになり相続したとき</li>
    <li>離婚して財産分与を受けたとき</li>
  </ul>
  <div class="duty-contents">
    当事務所では、売買・贈与に関する登記、担保権の抹消に関する登記、その他の様々な不動産登記を代行致しますので、手続きに不安がある方はお問い合わせください。
  </div>
<%= render "shared/footer" %>
</div>